:root {
  --branco-primario: #f5f7fa;
  --branco-secundario: #fff;
  --verde: #4caf4f;
  --cinza: #4d4d4d;
  --cinza-claro: #717171;
  --preto: #18191f;
  --sombra: ##dce1e7;

  --font-inter: "Inter", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-inter);
  background-color: var(--branco-secundario);
}

.cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.875em 6.563em;
  background-color: var(--branco-primario);
}

.cabecalho__logo {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.logo__texto {
  font-size: 1.6rem;
  font-weight: 800;
  color: var(--preto);
}

.navegacao__lista {
  display: flex;
  gap: 3.125em;
  list-style: none;
}

.navegacao__lista-link {
  text-decoration: none;
  color: var(--preto);
  font-size: 1rem;
}

.btn {
  display: flex;
  gap: 0.875em;
}

.btn__login,
.btn__entar {
  color: var(--verde);
  text-decoration: none;
  font-weight: 500;
  padding: 0.625em 1.25em;
  font-size: 0.875rem;
}

.btn__entar {
  color: var(--branco-primario);
  background-color: var(--verde);
  border-radius: 6px;
}

.home {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 6em 0;
  background-color: var(--branco-primario);
}

.home__texto {
  width: 50%;
}

.home__titulo {
  font-size: 4rem;
  color: var(--cinza);
}

.home__titulo-green {
  color: var(--verde);
}

.home__paragrafo {
  font-size: 1rem;
  font-weight: 400;
  color: var(--cinza-claro);
  margin: 1em 0 2.875em 0;
}

.btn_green {
  text-decoration: none;
  color: var(--branco-);
  font-weight: 500;
  font-size: 1rem;
  padding: 0.875em 2em;
  background-color: var(--verde);
  border-radius: 4px;
  color: var(--branco-primario);
}

.clientes {
  text-align: center;
  background-color: var(--branco-secundario);
  padding: 2.5em 0;
}

.clientes__titulo {
  font-size: 3rem;
  font-weight: 700;
  color: var(--cinza);
}

.clientes__paragrafo {
  font-size: 1rem;
  color: var(--cinza-claro);
  font-weight: 300;
  margin: 0.5em 0 2.563em 0;
}

.clientes__lista {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

.atributos {
  text-align: center;
}

.atributos___texto {
  width: 35%;
  margin: 0 auto;
}

.atributos__titulo {
  font-size: 2.25rem;
  color: var(--cinza);
  font-weight: 600;
  margin-bottom: 0.2em;
}

.atributos__paragrafo {
  font-size: 1rem;
  color: var(--cinza-claro);
  font-weight: 400;
}

.atributos__descricao {
  margin: 2.5em 0 3em 0;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.atributos__item {
  padding: 2em;
  width: 20%;
  box-shadow: 0 0 15px var(--branco-primario);
}

.atributos__item-titulo {
  font-size: 1.75rem;
  color: var(--cinza);
  font-weight: 700;
  margin: 1em 0 0.5em 0;
}

.atributos__item-paragrafo {
  font-size: 0.875rem;
  color: var(--cinza-claro);
  line-height: 20px;
}

.saiba__mais {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.063em;
  padding: 3.25em 0;
}

.saiba__mais-descricao {
  width: 40%;
}

.saiba__mais-titulo {
  font-size: 2.25rem;
  color: var(--cinza);
  font-weight: 600;
  margin-bottom: 1em;
}

.saiba__mais-paragrafo {
  font-size: 0.875rem;
  font-weight: 400;
  color: var(--cinza-claro);
  margin-bottom: 2.875em;
}

.dados {
  padding: 3em 0;
}

.dados__box {
  padding: 4em 9em;
  background-color: var(--branco-primario);
}
